 body {
  background-image: url(https://i.ytimg.com/vi/81W2OWiETWU/maxresdefault.jpg);
}

h1, h2, p {
 color: white;
 text-align: center;
 font-family: Impact, serif;
}

.stats-members, .servers {
 font-family: Andale Mono;
 margin-right: auto;
 background-color: black;
 color: white;
 width: 30%;
 padding: 20px;
 text-align: center;
}

.invite {
 background-color: black;
 padding: 30px;
 width: 70%;
 text-align: center;
 margin-left: auto;
}
 


