 body {
  background-image: url(https://wallpaper.dog/large/17253192.jpg);
}

h1, h2, p {
 color: white;
 text-align: center;
 font-family: Impact, serif;
}

.stats-members, .servers {
 border: 4mm ridge rgb(52, 65, 255);
 text-align: center;
 color: white;
}


 


