 body {
  background-color: grey;
}

h1, h2, p {
  text-align: center;
 font-family: Impact, serif;
}

.stats-members {
 font-family: Andale Mono;
 margin-right: auto;
 background-color: black;
 color: white;
 width: 30%;
 padding: 20px;
}


.servers {
 font-family: Andale Mono;
 margin-left: auto;
 background-color: black;
 color: white;
 width: 30%;
 padding: 20px;
}
